/* ============
Generic styles
================ */
* {
  font-family: "Bai Jamjuree", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0rem;
}

p {
  color: #03020f;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
  text-align: center;
}

.btn {
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 1.5rem 2rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.3rem;
  text-decoration: none;
}

.btn--red {
  background-color: #e30037;
  color: #fff;
}

.btn--white {
  background-color: #fff;
  border: 0.2rem solid #e30037;
  color: #e30037;
}

/* ============
Child Style Sheets
================ */
.heroNavbar {
  background-color: #091c4b;
  padding: 2rem;
}
.heroNavbar--item {
  display: flex;
  flex-direction: column;
}
.heroNavbar__p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0;
  color: #d0dcfc;
  text-decoration: none;
}
.heroNavbar__p--center {
  margin-top: 1rem;
}
.heroNavbar-tel {
  font-weight: 600;
}
.heroNavbar--item-lupa {
  padding-right: 10rem;
}
.heroNavbar--btn {
  padding: 1.5rem 2rem;
  border-radius: 0.3rem;
  border: none;
}
.heroNavbar__img {
  width: 10rem;
  margin-top: 0.5rem;
}
.heroNavbar__img-icon {
  width: 3rem; /* Safari/Chrome */
  filter: invert(100%);
  margin-right: 2rem;
}

.nav-li {
  color: #0a1c4b;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.navbar__item {
  margin: 0;
  padding: 0 !important;
}

.navbar__item:hover {
  border-bottom: 0.2rem solid red;
}

.navbar__item:hover .multiple {
  visibility: unset;
}

.nav-link {
  display: flex !important;
  align-items: center !important;
  padding: 0 !important;
  height: 6rem;
  text-align: center;
  font-weight: bold;
}

.multiple__container-p {
  max-width: 20rem;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* ===============
Multiple navbar
============== */
.multiple {
  position: absolute;
  top: 6.2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  flex-wrap: wrap;
  background-color: #fff;
  transition: all 0.3s case 0s;
  visibility: hidden;
  z-index: 9999;
}
.multiple-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.multiple__container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 6rem;
  margin-top: 3rem;
}
.multiple__item {
  margin: 3rem 0;
}
.multiple__picture {
  width: 8rem;
  height: auto;
}
.multiple__description {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.multiple__p {
  font-size: 1.4rem;
  color: rgb(171, 168, 168);
}

.multiple__p-red:hover {
  color: #e30037;
}

.heroNavbar__p:hover {
  color: #e30037;
}

nav {
  padding: 0 !important;
}

ul {
  list-style-type: none;
  padding-left: 0 !important;
}

nav > ul > li {
  position: relative;
  border-radius: 5px;
  padding: 0 20px;
}

nav > ul > li:hover > ul {
  display: block;
}

nav ul li a {
  text-decoration: none;
  display: block;
}

nav > ul > li > ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
}

nav > ul > li > ul > li {
  position: relative;
}

nav > ul > li > ul > li:hover > ul {
  display: block;
}

nav > ul > li > ul > li > ul {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
}

/* ===============
Header M- Queries
============== */
@media screen and (max-width: 1200px) {
  .heroNavbar--item {
    display: none;
  }
  .heroNavbar__p--center {
    justify-content: center;
  }
  .heroNavbar--btn {
    font-weight: 700;
    padding: 1rem 1rem;
    border-radius: 0.3rem;
  }
}
@media screen and (max-width: 991px) {
  .navbar {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .heroNavbar__p--center {
    justify-content: center;
  }
  .heroNavbar--btn {
    font-weight: 400;
    padding: 1rem 1rem;
  }
  .heroNavbar__img-icon {
    display: none;
  }
}
@media screen and (max-width: 738px) {
  .heroNavbar__p--center {
    flex-wrap: wrap;
    font-size: 1.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .heroNavbar--btn {
    font-weight: 300;
    padding: 1rem 1.5rem;
  }
  .heroNavbar__p--center {
    display: none;
  }
}
@media screen and (max-width: 352px) {
  .heroNavbar--btn {
    font-weight: 300;
    font-size: 1rem;
    padding: 1rem 1.4rem;
    margin-left: 1rem;
  }
}
/* ===============
multiple - navbar M-Q
============== */
@media screen and (max-width: 991px) {
  .multiple img {
    width: 5rem;
  }
  .multiple-nav {
    display: flex;
    flex-direction: column;
  }
  .multiple__item {
    display: flex;
  }
}
/* ===============
    Footer 
============== */
.footer {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.footer h2 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  padding-bottom: 1rem;
  color: #acc3ff;
}
.footer p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #acc3ff;
}

/* ===============
Footer -light-blue
============== */
.footer--lightBlue {
  background-color: #13307e;
}
.footer--lightBlue__box {
  padding-left: 3rem;
  padding-right: 3rem;
}
.footer--lightBlue__img {
  margin-bottom: 2rem;
}

/* ===============
Footer -dark-blue
============== */
.footer--darkBlue {
  background-color: rgb(14, 28, 72);
}

/* ===============
Footer -light
============== */
.footer--light {
  background-color: #f7f7f7;
}
.footer--light img {
  width: 5rem;
}
.footer--light p {
  margin-top: 0.5rem;
  color: #aeaeae;
}
.footer--light__logo {
  margin-top: 0.5rem; /* Safari/Chrome */
  filter: invert(100%);
}
.footer--light__ikon { /* Safari/Chrome */
  filter: invert(100%);
}

/* ===============
Header M- Queries
============== */
@media screen and (max-width: 991px) {
  .footer__box {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 575px) {
  .footer__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer--lightBlue {
    padding: 2rem;
    padding-right: 2rem;
  }
  .footer--lightBlue__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    text-align: center;
  }
}
.contact {
  position: relative;
  background-color: #f7f7f7;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.contact h2 {
  padding-bottom: 2.5rem;
  text-align: left;
  font-weight: 600;
}
.contact__p {
  font-size: 1.4rem;
  text-align: left;
  line-height: 2.2rem;
  color: #03020f;
  margin: 0;
}
.contact h3 {
  color: #27438d;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.contact img {
  height: auto;
  margin: 0 1.5rem 0 0;
}
.contact__box {
  display: flex;
  position: relative;
  flex-direction: column;
}
.contact--item {
  width: 50%;
}
.contact__img {
  margin-bottom: 5rem;
}

/* ===============
Form
============== */
.contact--form {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.1);
  max-width: 50rem;
  right: 3rem;
  top: -11rem;
  padding-right: 5rem;
  padding-left: 3rem;
}
.contact--form h4 {
  font-size: 2.5rem;
  line-height: 3.4rem;
  color: #0a1c4b;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.contact--form__p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #0a1c4b;
  font-weight: 600;
  margin-left: 1rem;
}
.contact--form input {
  width: 100%;
  border: 0.1rem solid #777;
  background-color: #fff;
  height: 4rem;
  color: #0a1c4b;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.3rem;
  margin: 1rem;
}
.contact--form input::-moz-placeholder {
  text-align: start;
  padding: 0.5rem;
}
.contact--form input::placeholder {
  text-align: start;
  padding: 0.5rem;
}
.contact--form textarea {
  margin: 1rem;
  height: 10rem;
  text-align: start;
  font-size: 1.4rem;
}
.contact--form span {
  text-decoration: underline;
  font-weight: bold;
  color: #03020f;
}
.contact--form__private {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.2rem;
  color: #bdb8b8;
}
.contact--form-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
}
.contact--form--WrapButton {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.contact--form button {
  margin-bottom: 5rem;
  border: none;
  width: 14rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 1.5rem 2rem;
}

/* ===============
Header M- Queries
============== */
@media screen and (max-width: 1200px) {
  .contact__box {
    position: static;
    display: flex;
    align-items: center;
  }
  .contact--form {
    position: static;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 500px) {
  .form__btn--box {
    display: flex;
    justify-content: center;
  }
  .contact--item {
    width: 69%;
  }
}
@media screen and (max-width: 350px) {
  .contact--form h4 {
    text-align: center;
  }
}
.header {
  background-image: url(/img/pexels-flickr-149387.jpg);
  padding-top: 13rem;
  padding-bottom: 13rem;
  position: relative;
}
.header h1 {
  color: #fff;
  font-weight: 600;
  font-size: 4rem;
  position: relative;
}
.header .btn {
  position: relative;
}
.header__box {
  display: flex;
  margin-top: 10rem;
}
.header__icon {
  width: 4rem;
}
.header__video {
  color: #e30037;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  margin-left: 2rem;
}
.header__video::before {
  content: url("/img/icons8-play-48.png");
  display: inline-block;
  height: 4.8rem;
  width: auto;
  margin-right: 1rem;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(to left, rgba(231, 29, 29, 0) 0%, rgb(3, 37, 80) 60%);
  z-index: 0;
}

/* ===============
Header M- Queries
============== */
@media screen and (max-width: 575px) {
  .header h1 {
    font-size: 2.5rem;
  }
  .header .btn {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
  }
}
@media screen and (max-width: 575px) {
  .header h1 {
    font-size: 2rem;
  }
  .header__video {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 400px) {
  .header h1 {
    text-align: center;
  }
  .header__video {
    font-size: 1.3rem;
  }
  .header__box {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 300px) {
  .header__box {
    margin: 2rem;
  }
  .header__video {
    margin-top: 2rem;
  }
}
.description {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.description h2 {
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 4rem;
  padding: 0 0 2.5rem;
  margin: 0;
  color: #0a1c4b;
}
.description p {
  font-size: 1.7rem;
  line-height: 1.65;
  align-self: center;
}
.description__p {
  color: #00237d;
  font-weight: 500;
  padding-right: 2rem;
}
.description ul {
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #777;
}
.description li {
  margin: 2rem 0;
}
.description__arrow {
  width: 3rem;
}
.description_box--number {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.description--number {
  border: 0.3px solid #dedbdb;
  border-radius: 80%;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-weight: bold;
  margin-left: 5rem;
  margin-right: 5rem;
}

.description__arrow {
  display: none;
}

.description li:hover > .description__arrow {
  display: block;
}

.description li:hover > .description--number {
  background-color: #e30037;
}

/* ===============
Header M- Queries
============== */
@media screen and (max-width: 750px) {
  .description h2,
  .description p {
    text-align: center;
  }
  .description--number {
    border-radius: 90%;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .description h2 {
    font-size: 2.5rem;
  }
  .description--number {
    margin-right: 2rem;
  }
  .description li:hover > .description__arrow {
    display: none;
  }
}
.main__category {
  background-image: url(/img/pexels-scott-webb-532563.jpg);
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;
}
.main__category h2 {
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
  color: #fff;
  position: relative;
  font-weight: 700;
}
.main__category h3 {
  text-align: center;
  font-size: 2rem;
  color: #0a1c4b;
  font-weight: 700;
  line-height: 2.6rem;
  margin-top: 3rem;
}
.main__category p {
  color: #fff;
  position: relative;
}
.main__category a {
  background-color: #fff;
  position: relative;
  display: block;
  height: inherit;
  width: 100%;
}
.main__category--picture {
  width: 20rem;
  position: absolute;
  top: 8rem;
  left: -4rem;
}
.main__category--box {
  position: relative;
  border-radius: 0.3rem;
  background-color: #fff;
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-right: 4rem;
}
.main__category--arrow {
  width: 3rem;
  position: absolute;
  bottom: 1rem;
  right: 5rem;
}

.main__category::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgb(160, 0, 0) 30%);
  z-index: 0;
}

/* ===============
Header M- Queries
============== */
@media screen and (max-width: 1199px) {
  .main__category--arrow {
    width: 2rem;
    right: 3rem;
  }
}
@media screen and (max-width: 750px) {
  .main__category--arrow {
    width: 3rem;
  }
  .main__category h2 {
    text-align: center;
  }
  .main__category p {
    text-align: center;
  }
  .main__category--picture {
    width: 15rem;
  }
}
@media screen and (max-width: 370px) {
  .main__category h2 {
    font-size: 2rem;
  }
  .main__category--picture {
    width: 12rem;
    bottom: 7rem;
  }
}
.reference {
  padding-top: 10rem;
  padding-bottom: 5rem;
}
.reference h2 {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 4rem;
  padding: 0;
  margin: 0;
}
.reference__a {
  position: relative;
  height: inherit;
  display: block;
}
.reference__box {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
}
.reference__button {
  margin-top: 5rem;
}
.reference--title {
  font-size: 1.7rem;
  color: #aeaeae;
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 8rem;
}
.reference--subtitle {
  font-weight: 400;
  font-size: 1.4rem;
  color: #d2cece;
  margin-top: 4rem;
}
.reference__img {
  width: 100%;
  padding: 0;
}
.reference__logo {
  position: absolute;
  width: 25rem;
  left: -2rem;
  bottom: -1rem;
}

/* ===============
Header M- Queries
============== */
@media screen and (max-width: 991px) {
  .reference a {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 750px) {
  .reference h2,
  .reference p {
    text-align: center;
  }
  .mobil__version {
    width: 95%;
    margin: 0 auto;
  }
}
.compressors {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.compressors__content {
  display: flex;
  flex-direction: column;
}
.compressors h2 {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 3rem;
  margin: 0;
  color: #27438d;
}
.compressors p {
  color: #aeaeae;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 0.5rem;
}
.compressors__btn--box {
  margin-top: 4rem;
}
.compressors img {
  width: 100%;
}

/* ===============
Header M- Queries
============== */
@media screen and (max-width: 991px) {
  .compressors img {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 750px) {
  .compressors h2 {
    font-size: 3rem;
    text-align: center;
  }
  .compressors p {
    text-align: center;
  }
  .compressors .btn {
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
  }
  .compressors__btn--box {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .compressors h2 {
    font-size: 2rem;
  }
}
.new {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: #f7f7f7;
}
.new h2 {
  font-size: 3.4rem;
  margin-bottom: 6rem;
}
.new__wrap {
  position: relative;
}
.new__box {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 3rem;
  margin-left: 3.2rem;
  margin-top: -3.2rem;
}
.new--picture {
  width: 100%;
}
.new__a--tag {
  color: #0a1c4b;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  padding-left: 2rem;
  margin-top: 3rem;
}
.new__button {
  margin-top: 2rem;
}
.new__btn {
  position: absolute;
  color: #00237d;
  background-color: #f1f1f1;
  padding: 0.4rem 1.8rem;
  font-size: 1.5rem;
}
.new__article--box {
  display: flex;
  flex-direction: row-reverse;
}
.new__article-tag {
  color: red;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 3rem;
}
.new__arrow {
  width: 2rem;
  position: absolute;
}
.new--date {
  font-size: 1.4rem;
  color: #c7c3c3;
  margin-left: 2rem;
}

/* ===============
Header M- Queries
============== */
@media screen and (max-width: 991px) {
  .new__box {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 750px) {
  .new h2 {
    text-align: center;
  }
  .new__article--box {
    padding: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .new__a--tag {
    font-size: 1.4rem;
  }
  .new--date {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  .new__article-tag {
    font-size: 1.4rem;
    top: 7rem;
  }
}
@media screen and (max-width: 478px) {
  .new--date {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  .new__article-tag {
    font-size: 1.4rem;
  }
  .new__btn {
    padding: 0.2rem 1.5rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 378px) {
  .new__box {
    padding: 0;
  }
}
.photogalery {
  margin-top: 4rem;
  margin-bottom: 12rem;
}
.photogalery__item {
  margin-bottom: 5rem;
}
.photogalery h1 {
  font-weight: 600;
  font-size: 3.4rem;
  color: #13307e;
}
.photogalery h2 {
  color: #13307e;
  font-size: 2.5rem;
  margin-top: 4rem;
}
.photogalery p {
  font-size: 1.5rem;
}
.photogalery__box--title {
  margin-top: 2rem;
}
.photogalery__wrap--photo {
  margin-top: 3rem;
}
.photogalery img {
  padding-top: 1rem;
  width: 100%;
  height: 100%;
}

img {
  padding-top: 1rem;
}/*# sourceMappingURL=style.css.map */