.description {
	padding-top: 10rem;
	padding-bottom: 10rem;
	h2 {
		font-weight: 600;
		font-size: 3.4rem;
		line-height: 4rem;
		padding: 0 0 2.5rem;
		margin: 0;
		color: #0a1c4b;
	}
	p {
		font-size: 1.7rem;
		line-height: 1.65;
		align-self: center;
	}
	&__p {
		color: #00237d;
		font-weight: 500;
		padding-right: 2rem;
	}

	ul {
		width: 100%;
		font-size: 1.6rem;
		line-height: 2.2rem;
		color: #777;
	}
	li {
		margin: 2rem 0;
	}
	&__arrow {
		width: 3rem;
	}

	&_box--number {
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	&--number {
		border: 0.3px solid #dedbdb;
		border-radius: 80%;
		padding: 0.5rem 1.5rem 0.5rem 1.5rem;
		font-weight: bold;
		margin-left: 5rem;
		margin-right: 5rem;
	}
}

.description__arrow {
	display: none;
}

.description li:hover > .description__arrow {
	display: block;
}

.description li:hover > .description--number {
	background-color: #e30037;
}
/* ===============
Header M- Queries
============== */
@media screen and (max-width: 750px) {
	.description {
		h2,
		p {
			text-align: center;
		}
		&--number {
			border-radius: 90%;
			padding: 0.5rem 1.5rem 0.5rem 1.5rem;
		}
	}
}
@media screen and (max-width: 400px) {
	.description {
		h2 {
			font-size: 2.5rem;
		}
		&--number {
			margin-right: 2rem;
		}
	}
	.description li:hover > .description__arrow {
		display: none;
	}
}
